

<p>Bonjour {{ pseudo }},</p>

<p>Vous avez demandé à réinitialiser votre mot de passe. Cliquez sur le lien ci-dessous pour choisir un nouveau mot de passe :</p>

<p><a href="{{ reset_url|raw }}">{{ reset_url|raw }}</a></p>

<p>Merci,</p>

<p>L’équipe ENI Sortir</p>


