{% extends 'empty_base.html.twig' %}

{% block title %}Demande de réinitialisation de mot de passe{% endblock %}

{% block body %}
       <section>
        <h1>Demande de réinitialisation de mot de passe</h1>

           {{ form_start(resetForm) }}
           {{ form_row(resetForm.nouveauMotDePasse.first, {'label': 'Nouveau mot de passe'}) }}
           {{ form_row(resetForm.nouveauMotDePasse.second, {'label': 'Confirmez le mot de passe'}) }}
           <button class="btn btn-primary">Réinitialiser le mot de passe</button>
           {{ form_end(resetForm) }}
       </section>
{% endblock %}




