{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}

    <main>
        <h1>Envie d'une nouvelle sortie {{ app.user.prenom }} ?</h1>
    </main>

{% endblock %}
