{% extends 'base.html.twig' %}

{% block title %}Site{% endblock %}

{% block body %}
    <a href="{{ path('app_ville_ajouter', {'sortieId' : 0, 'lieuId' : 0}) }}" class="btn btn-success">Ajouter une ville</a>
    <div class="row mt-3">
        {% for ville in villes %}
            <div class="col-md-6 col-lg-4 mb-3">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ ville.nom }}</h5>
                        <p class="card-text"></p>
                        <a href="{{ path('app_ville_modifier', {'villeId': ville.id, 'sortieId' : 0, 'lieuId' : 0}) }}" class="btn btn-warning">Modifier</a>
                        <a href="{{ path('app_ville_supprimer', {'ville' : ville.id}) }}" class="btn btn-danger">Supprimer</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
